{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TrulyExpenses {% block title %}
        {% endblock title %}   </title>

 

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


   <!-- Bootstrap core CSS -->   
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet"/>
<link href="{% static 'css/main.css'%}" rel="stylesheet"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="{% static 'css/card.css'%}" rel="stylesheet"/>


    
    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css'%}" rel="stylesheet"/>
  </head>
  <body>
    
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">TrulyExpenses</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-nav px-3"
  style="display: flex; flex-direction: row; align-items: center;">
  <div class="nav-item text-nowrap">
      <span class="nav-link" href="">
            ({{request.user.username}})
          </span>
    </div>
    <div class="nav-item text-nowrap mt-3" style="margin-left: 5px;">
      <form action="{% url  'logout' %}" method="POST">
            {% csrf_token %}
            <input
              class="text text-capitalize"
              type="submit"
              value="Sign out"
            />
      </form>
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    
    {% include 'partials/_sidebar.html' %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      {% block content %}
      


      {% endblock content %}
    </main>
  </div>
</div>

    
    <script src="/docs/5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" ></script>
    <script src="{% static 'js/main.js' %}"></script>
  
</body>
</html>
